<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="card" style="width:100%">
        <div class="card-header">
          <h4 class="font-weight-bold">Shopping Cart</h4>
        </div>
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="card" style="width:100%">
              <div class="card-header">
                <h4 class="font-weight-bold">Search</h4>

                <div class="form-row pb-3">
                  <div class="col-md-2">
                    <input class="form-control" name="srcItemName" id="srcItemName" placeholder="Item Name"
                      [(ngModel)]="itemName" />
                  </div>
                  <div class="col-md-2">
                    <input class="form-control" name="srcPriceFrom" type="number" id="srcPriceFrom"
                      placeholder="Price From" [(ngModel)]="priceFrom" />
                  </div>
                  <div class="col-md-2 ">
                    <input class="form-control" name="srcPriceTo" type="number" id="srcPriceTo" placeholder="Price To"
                      [(ngModel)]="priceTo" />

                  </div>
                </div>
                <div class="modal-footer">
                  <a (click)="toShoppingCart()" class="btn btn-info btn-raised" placement="top">
                    Order Page
                  </a>
                  <a (click)="searchOrders()" class="btn btn-primary btn-raised" placement="top">
                   Search
                  </a>
                  <a (click)="resetOrders()" class="btn btn-secondary btn-raised" placement="top">
                   Reset
                  </a>
                  <a (click)="exportAsXLSX()" class="btn btn-warning btn-raised" placement="top">
                    <span class=""><i class="ft-plus-square"></i></span>{{ "Extract XLS" }}
                  </a>


                </div>
                <!-- <div class="modal-footer">
  
              <a 
                 class="btn btn-dark btn-raised"
                 placement="top">
                {{ "Search" }}
              </a>
              <a 
                 class="btn btn-warning btn-raised"
                 placement="top">
                {{ "Reset" }}
              </a>
              <a 
                 class="btn btn-purple btn-raised"
                 placement="top">
                <span class=""><i class="ft-plus-square"></i></span>{{ "Add New" }}
              </a>
  
            </div> -->
              </div>

              <div class="card-body">
                <h4 class="font-weight-bold">My Orders</h4>

                <div class="table-responsive">
                  <ngx-datatable [rows]="orderem" [rowHeight]="50"
                    class="bootstrap core-bootstrap table table-responsive-md " [limit]="pager.pageSize"
                    [offset]="pager.page - 1" [count]="pager.total" [columnMode]="ColumnMode.force" [headerHeight]="50"
                    [footerHeight]="50" (page)="setPage($event)" [externalPaging]="true">

                    <ngx-datatable-column name="REF" prop="ref" [width]="100">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Item" [width]="80">
                      <ng-template let-rowData="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <img [src]="rowData.item" alt="profile-image" width="72" height="51">

                      </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Name" prop="name" [width]="100">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Price" prop="price" [width]="100">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Quantity" prop="quantity" [width]="100">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Total" prop="total" [width]="100">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Actions" [width]="100" class="text-center">
                      <ng-template let-order="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>

                        <a class="btn btn-info btn-raised btn-sm mr-1" placement="top"
                          (click)="viewOrder(order,orderModal,$event)">
                          <span class="mr-1"><i class="ft-plus-square"></i></span>{{ "View" }}
                        </a>

                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>

                  <select class="custom-select" style="width: auto;float:right;" name="pageSize"
                    [(ngModel)]="pager.pageSize" (change)="onPageSizeChanged()">
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="20">20 items per page</option>
                    <option [ngValue]="50">50 items per page</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #orderModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title text-bold-300">{{ "Order" }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="orderModal">
    <div class="row">
      <div class="col-lg-4">
        {{ "REF"  }}:
        <b>{{ order.ref }}</b>
      </div>
      <!-- /col -->
      <div class="col-lg-4">
        {{ "Name"  }}:
        <b>{{ order.name }}</b>
      </div>
      <!-- /col -->
      <div class="col-lg-4">
        {{ "Price"  }}:
        <b>{{  order.price }}</b>
      </div>
      <!-- /col -->
    </div>
    <div class="row mt-3">
      <div class="col-lg-4">
        {{ "Quantity"  }}:
        <b>{{ order.quantity }}</b>
      </div>
      <!-- /col -->
      <div class="col-lg-4">
        {{ "Total"  }}:
        <b> {{ order.total}}</b>
      </div>
      <!-- /col -->

      <!-- /col -->
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      {{ "Close"  }}
    </button>
  </div>
</ng-template>
