.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}

.card-body {
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}